@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: #fafafa;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.429;
  color: rgb(255, 255, 255);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, p {
  padding: 0;
  margin: 0;
}

body {
  background: #2a2a2b;
  padding: 80px 0 0 0;
}

.contacts-container {
  width: 100%;
  float: left;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  width: 100%;
  height: 80px;
  position: fixed;
  padding: 15px;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: rgb(0, 0, 0);
  -webkit-box-shadow: 0 2px 4px rgba(44, 62, 80, 0.15);
          box-shadow: 0 2px 4px rgba(44, 62, 80, 0.15);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.header-input {
  width: 100%;
  height: 50px;
  float: left;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  text-indent: 18px;
  padding: 0 60px 0 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px 25px 25px 5px;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.header-input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}

.header-input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}

.header-button {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 2;
  border-radius: 100%;
  background: rgb(59, 22, 94);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.header-button svg {
  width: 18px;
  height: 18px;
}

.contacts {
  width: 100%;
  float: left;
}

.contacts-item {
  width: 100%;
  min-height: 50px;
  float: left;
  font-size: 14px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  line-height: 22px;
  background: rgb(66, 66, 66);
  border-radius: 5px;
  position: relative;
  -webkit-box-shadow: 0 1px 2px rgba(44, 62, 80, 0.1);
          box-shadow: 0 1px 2px rgba(44, 62, 80, 0.1);
  margin: 0 0 10px 0;
  padding: 14px 100px 14px 14px;
  word-break: break-word;
}

.contacts-item:last-of-type {
  margin: 0;
}

.contacts-buttons {
  width: 100px;
  height: 50px;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.contacts-buttons button {
  width: 50px;
  height: 50px;
  float: left;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.contacts-buttons .buttons button:last-of-type:before {
  content: "";
  width: 1px;
  height: 30px;
  background: #ffffff;
  position: absolute;
  top: 10px;
  left: 0;
}

.contacts-remove {
  background-image: url("../img/trash.png");
}

.contacts-complete {
  background-image: url("../img/uncheck.png");
}

.contacts-completed .contacts-complete {
  background-image: url("../img/check.png");
}

.contacts-completed {
  position: relative;
  /* padding: 60px 0 0 0; */
  margin-bottom: 60px;
}

.contacts-completed:before {
  content: "";
  width: 150px;
  height: 1px;
  background: #d8e5e0;
  position: absolute;
  top: 30px;
  left: 50%;
  margin: 0 0 0 -75px;
}

.contacts:empty:after {
  content: "Нет контактов";
  margin: 15px 0 0 0;
}

.contacts-completed:empty:after {
  content: "Нет избранных контактов";
}

.contacts-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.contacts-avatar {
  width: 50px;
  height: 50px;
  background: gray;
}

.contacts-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts:after,
.contacts-completed:after {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 12px;
  color: #aaa;
}

.open-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 50px;
  background: rgb(59, 22, 94);
  color: #fff;
  margin: 0 auto;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 60px;
}

.contacts-text {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.45);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: -1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  padding: 0px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.modal_active {
  z-index: 11;
  opacity: 1;
}
.modal__dialog {
  max-width: 580px;
  width: 100%;
  background: rgb(59, 22, 94);
  border-radius: 10px;
  padding: 50px 15px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.modal__close {
  position: absolute;
  top: 35px;
  right: 35px;
}
.modal__close svg {
  width: 20px;
  height: 20px;
}
.modal__title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #E2EFF0;
  margin-bottom: 20px;
}
.modal__subtitle {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #E2EFF0;
  margin-bottom: 20px;
  max-width: 505px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.modal form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 490px;
  width: 100%;
}
.modal form input {
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  padding: 15px 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #E2EFF0;
  background: transparent;
  outline: none;
}
.modal form input::-webkit-input-placeholder {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #E2EFF0;
  opacity: 0.7;
}
.modal form input::-moz-placeholder {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #E2EFF0;
  opacity: 0.7;
}
.modal form input:-ms-input-placeholder {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #E2EFF0;
  opacity: 0.7;
}
.modal form input::-ms-input-placeholder {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #E2EFF0;
  opacity: 0.7;
}
.modal form input::placeholder {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #E2EFF0;
  opacity: 0.7;
}
.modal form button {
  position: relative;
  background: #2C2B2B;
  border: 1px solid #2C2B2B;
  border-radius: 10px;
  height: 55px;
  width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #E2EFF0;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  text-transform: uppercase;
  cursor: pointer;
}
.modal form button:hover {
  background: #C5DEE2;
  border: 1px solid #87B8C0;
  color: #2C2B2B;
}
.modal form button:hover svg path {
  fill: #2C2B2B;
}
.modal form button svg {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: 27px;
}
.modal__chekbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  width: 100%;
  margin-bottom: 20px;
}
.modal__chekbox input {
  margin: 0 !important;
  padding: 0 !important;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
.modal__chekbox label {
  color: #fff;
}

@media (max-width: 798px) {
  .modal__close {
    top: 15px;
    right: 15px;
  }
  .modal__title {
    font-size: 24px;
    line-height: 34px;
  }
  .modal__subtitle {
    font-size: 18px;
    line-height: 22px;
  }
  .modal form input {
    height: 40px;
    padding: 5px 25px;
  }
  .modal form button {
    height: 40px;
    font-size: 15px;
    line-height: 20px;
  }
}
@media (max-width: 606px) {
  .modal__title {
    font-size: 18px;
    line-height: 22px;
  }
  .modal__subtitle {
    font-size: 16px;
    line-height: 20px;
  }
}/*# sourceMappingURL=style.css.map */